body{
  font-family: 'Times New Roman', Times, serif;
  /* padding: 10px; */

}
.home-page{
  background-image: url('public/images/pic2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 280px 20px;
  line-height: 1.3;
  text-align: center;
  word-spacing: 2px;
}
.home-page h1{
  font-size:  40px;
}
.home-page p {
  font-size: 30px;
}

.firstPara{
  text-align: center;
  /* margin-top: 15px; */
  font-family: 'Times New Roman', Times, serif;
}
.home-btn{
  padding: 10px 36px;
  cursor: pointer;
  border: none;
  transition: 0.55s;
  border-radius: 5px;
  margin-top: 7px;
}
.home-btn:hover{
  filter: brightness(.88);
}
.about-contents{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  .about-contents{
    flex-direction: column-reverse;
  }
  
}
.about-text-content{
  flex: 1;
  margin-bottom: 1rem;
}
.about-text-content p{
  line-height: 1.3;
  font-size: 1.4rem;
  padding-right: 25px;
  text-align: justify;
}
@media screen and (max-width: 600px) {
  .about-text-content p{
    text-align: start;
    width: 100%;
    font-size: 1.1rem;
    margin-top: 8px;
  }
}
.about-image{
  display: flex;
  justify-content: center;
  flex: 1;
}
.about-image img{
  max-width: 100%;
}

/* Features section */
.features-section {
  padding: 50px 20px
  
}
.features-header{
  margin-bottom: 1rem;
}
.features-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}
@media screen and (max-width: 600px) {
  .features-content{
    flex-direction: column;
    justify-content: center;
    width: 3
    00px
  }
}
.feature-card{
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  margin: 5px;
}
.feature-card:hover{
  cursor: pointer;
  background-color: #1d4ed8;
  color: white;
  transition: .65s;
  border: none;
}
.feature-card:hover .explore-button {
  background-color: rgb(231, 231, 231);
  color: black;
}
.feature-card h4{
  margin-bottom: 0.5rem;
}
.explore-button{
  margin-top: 0.5rem;
  padding: 7px 15px;
  background-color: rgb(43, 42, 42);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .65s;
}

/* FAQ SECTION */
.faq-section{
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 700px;
  margin: 0 auto;
  background-color: #f9f9f9;
 
}
.faq-section p{
  text-align: center;
  font-style: italic;
  font-size: 10px;
}

.faq-question{
  font-size: 18px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.faq-question:hover{
  border: 4px solid #ddd;
  transition: .65s;
  background-color: #eef
}
.arrow{
  color: #1d4ed8;
}
.faq-answer {
  font-size: 16px;
  color: #555;
  padding: 10px;
  background-color: #f3f3f3;
  border-left: 3px solid #1d4ed8;
}
.refer-experts{
  text-align: center;
  margin-top: 20px;
}
.refer-experts p{
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
  font-weight: bold;
  color: gray;
}
.refer-experts button{
  padding: 10px 6px;
  color: white;
  background-color: #0f172a !important;
  margin-top: 10px;
  border: none;
  transition: .65s;
  cursor: pointer;
}
.refer-experts button:hover{
  background-color: #000716 !important;
  color: white;
}

/*CALL TO ACTION SECTION*/
.cta-section{
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta-section h1{
  margin-bottom: 15px;
}
.cta-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.cta-buttons button{
  padding: 9px 12px;
  border-radius: 5px;
  border: none;
}
.cta-buttons button:hover{
  cursor: pointer;
  transform: scale(1.1) rotate(10deg);
  transition: transform .45s ease;
}
.get-started{
  background-color: #0f172a;
  color: white;
}
.cta-experts{
  background-color: #0f172a;
  color: white;
}