
header{
  padding: 20px;
  background-color: #007BFF;
  color: white;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.logo a{
  font-size: 20px;
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 600px){
  .logo a{
    font-size: 14px;
  }
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
/* @media screen and (max-width: 600px){
  .navbar{
    flex-direction: column;
  }
} */
.left-header{
  display: flex;
}
.left-header a{
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}
@media screen and (max-width: 600px){
  .left-header a{
    font-size: 14px;
  }
}
.left-header a::after{
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: cyan;
  transition: .65s;
}
.left-header a:hover::after{
  width: 100%;
}
.left-header a:hover{
  color: cyan;
}

/* RIGHT HEADER */
.navbar-auth{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar-auth button {
  padding: 7px 12px;
  border: none;
  margin: 3px;
  border-radius: 4px;
  background-color: lightgray;
  color: white;
  /* margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #28A745;
  color: white;
  border-radius: 5px;
  cursor: pointer; */
}
@media screen and (max-width: 600px){
  .navbar-auth button{
    padding: 7px;
    font-size: 12px;
  }
}

.navbar-auth .signup-button {
  background-color: lightblue; 
  /* padding: 7px;  */
  
  
}

.navbar-auth button:hover {
  opacity: 0.9;
}