.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1px;
  padding: 50px 20px;
}

.search-bar {
 padding: 12px;
 width: 50%;
 max-width: 550px;
 height: 60px;
 flex: 1;
 border-radius: 5px;
 border: 2px solid rgb(119, 117, 117);
 transition: background-color .55s, transform .65s ease-in-out;
}
.search-bar:hover{
  background-color: rgb(29, 28, 28);
  color: white;
  border: none;
  transform: scale(1.05);

}
.search-bar:hover + .btn{
  margin-left: 15px;
}

input::placeholder {
  font-size: 16px;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
}

.btn{
  width: 60px;
  height: 60px;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: .75s;
}

.btn img {
  width: 50px;
 height: auto;
object-fit: contain;
}



